@font-face {
	font-family: "Red Hat Mono";
	src: url('fonts/RedHatMonoVF.ttf') format("truetype"), url('fonts/RedHatMonoVF.woff2') format("woff2");
	font-style: normal;
}
@font-face {
	font-family: "Red Hat Mono";
	src: url('fonts/RedHatMonoVF-Italic.ttf') format("truetype"), url('fonts/RedHatMonoVF-Italic.woff2') format("woff2");
	font-style: italic;
}
@font-face {
	font-family: "Red Hat Text";
	src: url('fonts/RedHatTextVF.ttf') format("truetype"), url('fonts/RedHatTextVF.woff2') format("woff2");
	font-style: normal;
}
@font-face {
	font-family: "Red Hat Text";
	src: url('fonts/RedHatTextVF-Italic.ttf') format("truetype"), url('fonts/RedHatTextVF-Italic.woff2') format("woff2");
	font-style: italic;
}
@font-face {
	font-family: "Material Symbols";
	src: url('fonts/MaterialSymbolsSharp[FILL\,GRAD\,opsz\,wght].ttf') format("truetype"), url('fonts/MaterialSymbolsSharp[FILL\,GRAD\,opsz\,wght].woff2') format("woff2");
}
:root {
	--red: #FF734D;
	--blue: #5ADDE8;
	--purple: #A690FC;
	--yellow: #fcc03a;
	--pink: #F3A8DD;
	--green: #98DB6B;
	--black: #353535;
	--black2: #282828;
	--black3: #1b1b1b;
	--white: #e5e5e5;
}
html {
	scroll-padding-top: 72px;
}
* {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-rendering: optimizeLegibility;
}
body {
	font-family: 'Red Hat Text', sans-serif;
	background-color: var(--black3);
	color: var(--black);
	font-weight: 400;
	font-variation-settings: 'wght' 400;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Red Hat Mono', monospace;
	font-weight: inherit;
	font-variation-settings: inherit;
	font-size: inherit;
}
img {
	display: block;
	width: 100%;
}
.symbol {
	font-family: 'Material Symbols';
}

/* Demos */
.demos {
	display: flex;
	flex-direction: column;
	gap: 20px;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transform: translateY(100%);
	position: fixed;
	overflow-y: scroll;
	padding: 20px;
	background-color: var(--black3);
	transition: transform .5s;
	z-index: 999;
}
.demos[data-active="1"] {
	transform: translateY(0%);
}
.demos-navbar {
	grid-column: span 5;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 9;
	position: sticky;
	top: 0px;
	gap: 10px;
}

/* Editor */
.editor {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100dvh;
	background-color: var(--black3);
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.editor-navbar {
	display: flex;
	gap: 10px;
	align-items: center;
}
.editor-navbar-title {
	font-size: 18px;
	margin-right: 10px;
	color: var(--white);
	font-family: 'Red Hat Mono', monospace;
	font-weight: 600;
	font-variation-settings: 'wght' 600;
	text-shadow: 0 0 10px var(--black3);
	overflow: hidden;
	text-overflow: ellipsis;
}
.editor-navbar-title-fade {
	opacity: .5;
}
.editor-navbar-spacer {
	flex-grow: 1;
}
.editor-navbar-info {
	padding: 6px 14px;
	border: unset;
	border-radius: 20px;
	background-color: unset;
	color: var(--white);
	background-color: var(--black);
	font-size: 14px;
	font-family: 'Red Hat Mono', monospace;
	font-weight: 550;
	font-variation-settings: 'wght' 550;
	display: flex;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
	gap: .8em;
	white-space: nowrap;
	box-shadow: 0 0 10px var(--black3);
}
.editor-navbar-info:hover {
	background-color: var(--white);
	color: var(--black);
}
.editor-navbar-info:active {
	opacity: .5;
}
.editor-navbar-btn {
	padding: 10px 40px;
	border: unset;
	border-radius: 2px;
	background-color: unset;
	color: var(--black);
	background-color: var(--white);
	font-size: 14px;
	font-family: 'Red Hat Mono', monospace;
	font-weight: 550;
	font-variation-settings: 'wght' 550;
	display: flex;
	align-items: center;
	text-decoration: none;
	cursor: pointer;
	gap: .8em;
	box-shadow: 5px 5px 0 var(--black);
}
.editor-navbar-btn:hover {
	background-color: var(--black);
	color: var(--white);
}
.editor-navbar-btn:active {
	opacity: .5;
}
.editor-content {
	flex-grow: 1;
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
	gap: 10px;
}
.editor-code {
	background-color: var(--black2);
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	border-radius: 2px;
}
.editor-cm {
	width: 100%;
	height: 100px;
	flex: 1 1 100px;
	display: flex;
	flex-direction: column;
	--font-size: 16px;
}
.editor-cm * {
	font-size: var(--font-size);
}
.editor-controls {
	display: flex;
	gap: 10px;
}
.editor-controls button .symbol {
	font-size: 1.5em;
	font-weight: 400;
	font-variation-settings: 'wght' 400;
}
.editor-controls button {
	--primary: var(--white);
	flex: 1 1 100%;
	padding: 5px 10px;
	border: unset;
	border-radius: 20px;
	background-color: unset;
	color: var(--black);
	background-color: var(--primary);
	font-size: 12px;
	font-family: 'Red Hat Mono', monospace;
	font-weight: 600;
	font-variation-settings: 'wght' 600;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	gap: .8em;
}
.editor-controls button:hover {
	background-color: var(--black);
	color: var(--white);
}
.editor-controls button:active {
	opacity: .5;
}
.editor-preview {
	background-color: var(--black2);
	padding: 10px;
	border-radius: 2px;
}
.editor-iframe {
	width: 100%;
	height: 100%;
	border: unset;
	border-radius: 2px;
	background-color: white;
}
.editor-shortcuts {
	background-color: rgba(0,0,0,.8);
	backdrop-filter: blur(10px);
	width: 100vw;
	height: 100dvh;
	position: absolute;
	top: 0;
	left: 0;
	overflow-y: scroll;
	z-index: 9;
	padding: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	text-align: center;
	transition: opacity .2s;
}
.editor-shortcuts[data-active="1"] {
	opacity: 1;
	pointer-events: all;
}
.editor-shortcuts[data-active="0"] {
	opacity: 0;
	pointer-events: none;
}
.editor-shortcut {
	display: flex;
	padding: 40px;
	align-items: center;
	justify-content: center;
	gap: 10px;
	flex-direction: column;
}
.editor-shortcut-keys {
	color: var(--white);
	padding: 10px;
	font-size: 32px;
	display: flex;
	align-items: center;
	font-family: 'Red Hat Mono', monospace;
	font-weight: 500;
	font-variation-settings: 'wght' 500;
	gap: .5em;
}
.editor-shortcut-or {
	font-size: 18px;
	padding: 2px 20px;
	margin: 0 20px;
	text-transform: uppercase;
	background-color: var(--white);
	color: var(--black);
}
.editor-shortcut-action {
	color: var(--white);
	font-size: 16px;
}
.editor-shortcuts-close {
	grid-column: span 2;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--white);
	font-weight: 400;
	font-variation-settings: 'wght' 400;
	padding: 40px;
	font-size: 16px;
}
.editor-shortcuts-close p {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	gap: .8em;
}
.editor-shortcuts-close p:hover {
	opacity: .5;
}
.editor-shortcuts-close p:active {
	opacity: .25;
}
@media only screen and (max-width: 1000px) {
	.editor-controls-label {
		display: none;
	}
	.editor-shortcuts {
		grid-template-columns: 1fr;
	}
	.editor-shortcuts-close {
		grid-column: span 1;
	}
	.editor-navbar-title-fade {
		display: none;
	}
}
@media only screen and (max-width: 800px) {
	.editor-content {
		grid-template-columns: 1fr;
		grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
	}
	.editor-code {
		order: 2;
	}
	.editor-cm {
		width: calc(100vw - 60px);
	}
	.editor-shortcuts {
		padding: 10px;
	}
	.editor-shortcut-keys {
		font-size: 18px;
	}
	.editor-shortcut-or {
		font-size: 12px;
		padding: 2px 10px;
	}
	.editor-shortcuts-close {
		grid-column: span 1;
	}
	.editor-navbar-btn {
		padding: 10px;
	}
	.editor-navbar-btn-text {
		display: none;
	}
	.editor-navbar-info-text {
		display: none;
	}
}

/* CodeMirror theme */
.CodeMirror {
	cursor: text;
	height: 100% !important;
	width: 100%;
	overflow: scroll;
}
.CodeMirror * {
	font-family: 'Red Hat Mono', monospace;
	scroll-behavior: unset;
}
.cm-s-gdwithgd.CodeMirror {
	background: unset;
	color: var(--white);
	flex-grow: 1;
	border-radius: 2px;
	background-color: var(--black);
}
.cm-s-gdwithgd div.CodeMirror-selected { background: var(--black3); }
.cm-s-gdwithgd .CodeMirror-line::selection, .cm-s-gdwithgd .CodeMirror-line > span::selection, .cm-s-gdwithgd .CodeMirror-line > span > span::selection { background: var(--black3); }
.cm-s-gdwithgd .CodeMirror-line::-moz-selection, .cm-s-gdwithgd .CodeMirror-line > span::-moz-selection, .cm-s-gdwithgd .CodeMirror-line > span > span::-moz-selection { background: var(--black3); }
.cm-s-gdwithgd .CodeMirror-gutters { background: var(--black3); border-right: unset; }
.cm-s-gdwithgd .CodeMirror-guttermarker { color: var(--red); }
.cm-s-gdwithgd .CodeMirror-guttermarker-subtle { color: var(--black3); }
.cm-s-gdwithgd .CodeMirror-linenumber { color: var(--white); background-color: var(--black3);}

.cm-s-gdwithgd .CodeMirror-cursor { border-left: 2px solid var(--white); }

.cm-s-gdwithgd span.cm-comment { color: rgba(255,255,255,.4); }
.cm-s-gdwithgd span.cm-atom { color: var(--blue); }
.cm-s-gdwithgd span.cm-number { color: var(--blue); }

.cm-s-gdwithgd span.cm-property, .cm-s-gdwithgd span.cm-attribute { color: var(--green); }
.cm-s-gdwithgd span.cm-keyword { color: var(--red); }
.cm-s-gdwithgd span.cm-string { color: var(--yellow); }

.cm-s-gdwithgd span.cm-variable { color: var(--green); }
.cm-s-gdwithgd span.cm-variable-2 { color: var(--purple); }
.cm-s-gdwithgd span.cm-def { color: var(--pink); }
.cm-s-gdwithgd span.cm-bracket { color: #d6d5d4; }
.cm-s-gdwithgd span.cm-tag { color: var(--red); }
.cm-s-gdwithgd span.cm-link { color: var(--blue); }
.cm-s-gdwithgd span.cm-error { background: var(--white); color: var(--black); }

.cm-s-gdwithgd .CodeMirror-activeline-background { background: var(--black3); }
.cm-s-gdwithgd .CodeMirror-matchingbracket { color: var(--white) !important; background-color: rgba(255,255,255,.3);}
.cm-s-gdwithgd .CodeMirror-nonmatchingbracket {color: red !important;}

.CodeMirror-hints {
	border: 2px solid var(--white) !important;
	background-color: var(--white) !important;
	border-radius: unset !important;
	padding: unset !important;
	z-index: 9999999 !important;
}
.CodeMirror-hint {
	color: var(--black) !important;
	font-family: 'Red Hat Mono', monospace !important;
	font-size: 12px !important;
	border-radius: unset !important;
	padding: 0 5px !important;
}
.CodeMirror-hint:hover {
	opacity: .5;
}
.CodeMirror-hint:active {
	opacity: .25;
}
li.CodeMirror-hint-active {
	color: var(--white) !important;
	background-color: var(--black) !important;
}